<div class="container-fluid">	
	<div class="row">
	<div class="col-xs-12">
		<h2>Which charity would you like to donate to?</h2>
	</div>
	<div class="col-xs-12">
		<div class="featured">
			<h4>Featured Local Charities:</h4>
			<div class="col-md-4">
				<div class="charity">
					<img src="odm.jpg" class="pull-left">
					Open Door Mission Omaha Chapter
				</div>	
			</div>	
			<div class="col-md-4">		
				<div class="charity">
					<img src="nhs.png">
					Nebraska Humane Society
				</div>	
			</div>	
			<div class="col-md-4">
				<div class="charity">
					<img src="buildinghouse.jpg">
					Omaha Habitat for Humanity
				</div>	
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="search">
			<h4>Search For Charities:</h4>
			<input type="text" class="typeahead" id='nonprofits-typeahead' data-provide='typeahead' autocomplete="off" />
			<select><option>NE</option></select>
			and / or
			<select><option>All Categories</option></select>
			<button>Search</button>
		</div>	
	</div>	

	</div>
	
	</div>	
</div>	