<div class="container-fluid">
	<div class="row">
		<div class="header sub-header">
			<img src="whitecharity.png" alt="" class="header-logo">
		</div>
	</div>
	<div class="row">
	</div>	
</div>	

<input type="text" class="typeahead" id='nonprofits-typeahead' data-provide='typeahead' autocomplete="off" />