<div class="container">	
	<div class="row">
	<div class="col-xs-12">
		<h2>Which charity are you associated with?</h2>
	</div>
	<div class="col-xs-12">
		<div class="featured">
			<!-- <h4>Featured Local Charities:</h4> -->
			
			<!-- <div class="col-md-4"> -->
				<div class="search confirm-charity" style="text-align:left; padding-left:10px">
					<h4>Your Name</h4>
					<input type="text" class="input-text form-control" id='' />
					<h4>Your Title</h4>
					<input type="text" class="input-text form-control" id='' />
					<h4>Phone Number</h4>
					<input type="text" class="input-text form-control" id='' placeholder="###-###-#####"/>
					<h4>Email</h4>
					<input type="text" class="input-text form-control" id='' />
					<h4>Address</h4>
					<input type="text" class="input-text form-control" id='' />
					<input type="text" class="input-text form-control" id='' />
					<h4>Charity Logo</h4>
					<p class="subtitle">Recommended: Dimensions 128x128, .PNG Format</p>
					<input type="file" class="input-file input-logo" name="datafile" size="40">
					<h4>Search For Your Charity</h4>
					<input type="text" class="typeahead search-input-text" id='nonprofits-typeahead' data-provide='typeahead' autocomplete="off" />
					<select><option>NE</option></select>
					and / or
					<select><option>All Categories</option></select>
					<button class="btn-primary">Search</button>
					<br>
					<br>
					<center>
						<button class="btn-lg btn-primary">Submit</button>
						<button class="btn-lg btn-link">Cancel</button>
					</center>
				</div>	
				<!-- </div>	 -->
			</div>
		</div>
	</div>
	<!-- <div class="col-xs-12">
		<div class="search">
			
	</div>	

	</div> -->
	
	</div>	
</div>	