<div class="container">	
	<div class="row">
	<div class="col-sm-12">
		<h2>Which type of bank account are you adding?</h2>
	</div>
	<div class="col-sm-12">
		<div class="featured">
		<% banks.each do |b| %>
			<div class="col-sm-3">
				<div class="bank" data-toggle="modal" data-target="#account-info-modal">
					<%= b %>
				</div>	
			</div>	
		<% end %>

		</div>
	</div>
	
	</div>	
</div>

<div id="account-info-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Enter your acccount info:</h4>
      </div>
      <div class="modal-body">
		<form>
		    <formgroup>
		    	<label for="username" class="sr-only">Username</label>
		    	<input name="username" class="form-control" placeholder="Username" required="" autocomplete="off">
	    	</formgroup>
		    <formgroup>
		    	<label for="password" class="sr-only">Password</label>
		    	<input name="password" class="form-control" placeholder="Password" required="" autocomplete="off">
		    </formgroup>
		 <div class="modal-buttons">
        	<%= link_to "Submit", "thanks", class: "btn btn-primary right" %>
        	<button type="button" class="btn btn-default right" data-dismiss="modal">Close</button>
        	<!-- <button type="button" class="btn btn-primary right">Submit</button> -->
		</div>
  		</form>
      </div>
<!--      <div class="modal-footer"> </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->	
</div>	

