<h4>Finally, we will need read-only access to your bank account to pull in your transaction data.</h4>
<p>This is how we know what to round up.</p>

<br />
<form>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email">
  </div>
  <div class="form-group">
	  <label for="password">Password:</label>
	  <input id="password" class="form-control" type="password"/>
  </div>
</form>

<%= link_to "Almost Done!", "thanks" %>