<div class="container">	
	<div class="row">
	<div class="col-sm-12">
		<h2>Which type of bank account are you adding?</h2>
	</div>
	<div class="col-sm-12">
		<div class="featured">
			<div class="col-sm-3">
				<div class="bank">
					American Express
				</div>	
			</div>	
			<div class="col-sm-3">
				<div class="bank">
					Bank of America
				</div>	
			</div>	
			<div class="col-sm-3">
				<div class="bank">
					Capital One 360
				</div>	
			</div>	
			<div class="col-sm-3">
				<div class="bank">
					Charles Schwab
				</div>	
			</div>	
			<div class="col-sm-3">
				<div class="bank">
					Chase
				</div>	
			</div>	
			<div class="col-sm-3">
				<div class="bank">
					Citi
				</div>	
			</div>	
			<div class="col-sm-3">
				<div class="bank">
					Fidelity
				</div>	
			</div>	
			<div class="col-sm-3">
				<div class="bank">
					US Bank
				</div>	
			</div>	
			<div class="col-sm-3">
				<div class="bank">
					USAA
				</div>	
			</div>	
			<div class="col-sm-3">
				<div class="bank">
					Wells Fargo
				</div>	
			</div>	
			<div class="col-sm-3">
				<div class="bank">
					Other?
				</div>	
			</div>	

		</div>
	</div>
	
	</div>	
</div>	