<div class="container-fluid">
	<div class="row">
		<div class="header">
			<img src="whitecharity.png" alt="" class="header-logo">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="step-1">
			  <h2>Step 1</h2>
			  <p class="lead">Select your non-profit.</p> 
			</div>
		
		
			<div class="step-2">
			  <h2>Step 2</h2>
			  <p class="lead">Sync your bank account.</p> 
			</div>
		
			<div class="step-3">
			  <h2>Step 3</h2>
			  <p class="lead">Donate your rounded up transactions.</p> 
			</div>
		</div>
	</div>
</div>	
