<div class="container-fluid">
	<div class="row">
		<div class="header">
			<img src="whitecharity.png" alt="" class="header-logo">
		</div>
	</div>
	<div class="row">
		<div class="jumbotron">
        <h1>Spare change for change.</h1>
        <p class="lead">A feel good way to automate giving. Round up your everyday transactions and donate the change to a charity that matters to you.</p>
      </div>

		<div class="col-md-4">
			<div class="step-1">
			  <h2>Step 1</h2>
			  <p class="lead">Select your non-profit.</p> 
			</div>
			</div>
		<div class="col-md-4">
		
			<div class="step-2">
			  <h2>Step 2</h2>
			  <p class="lead">Sync your bank account.</p> 
			</div>
			</div>
		<div class="col-md-4">
			<div class="step-3">
			  <h2>Step 3</h2>
			  <p class="lead">Donate change from your rounded up transactions.</p> 
			</div>
		</div>
	</div>
	<div class="col-xs-3"></div>
	<div class="col-xs-6">
		<form class="form-signin">
	    <h2 class="form-signin-heading"></h2>
	    <label for="inputEmail" class="sr-only">Email address</label>
	    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" autocomplete="off">
	    <label for="inputPassword" class="sr-only">Password</label>
	    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" autocomplete="off">	    
	    
	    
	    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	  </form>
	</div>
</div>	
