<ul>
<% @transactions.each do |t| %>
	<li>
		<p><span>Amount: </span><%= t[:amount] %></p>
		<p><span>Location: </span><%= t[:name] %></p>
		<p><span>Charity Change: </span><%= number_to_currency t[:change] %></p>
	</li>
<% end %>
</ul>