/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import application.scss.css
 @import plaid.scss
 */
h1 {
  color: #3e20af; }

.btn-primary {
  border: none;
  background-color: #0b9c91;
  background-image: none; }
  .btn-primaryhover {
    background-color: #1c4ba9; }

.header {
  background-color: #1c4ba9; }

.footer {
  margin-top: 10px;
  height: 5px; }

.header-logo {
  max-height: 80px;
  margin: 10px;
  margin-left: 20px; }

.step-1,
.step-2,
.step-3 {
  border-bottom: 1px solid #5f81c4;
  min-height: 120px; }

.form-signin {
  margin-top: 30px; }
  .form-signin button {
    margin-top: 20px; }
