/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import application.scss.css
 @import plaid.scss
 */
body {
  background-color: #5f81c4;
  background-color: #eee; }

.bg-gradient {
  /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(right bottom, ellipse farthest-corner, #5f81c4 0%, #092a6c 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(right bottom, ellipse farthest-corner, #5f81c4 0%, #092a6c 100%);
  /* Opera */
  background-image: -o-radial-gradient(right bottom, ellipse farthest-corner, #5f81c4 0%, #092a6c 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 896, color-stop(0, #5f81c4), color-stop(1, #092a6c));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(right bottom, ellipse farthest-corner, #5f81c4 0%, #092a6c 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(ellipse farthest-corner at right bottom, #5f81c4 0%, #092a6c 100%); }

h1 {
  color: #3e20af; }

h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Rockwell;
  color: #555;
  color: #0b9c91; }

.btn-primary {
  border: none;
  background-color: #0b9c91;
  background-image: none; }
  .btn-primary:hover {
    background-color: #1c4ba9;
    background-color: white;
    color: #0b9c91; }

.link {
  color: #50bbb3; }
  .link:hover {
    cursor: pointer;
    color: white; }

.btn-link {
  color: #50bbb3; }
  .btn-link:hover {
    background-color: white;
    color: #0b9c91;
    text-decoration: none; }

.header {
  background-color: #1c4ba9; }

.footer {
  margin-top: 10px;
  background-color: white; }
  .footer img {
    margin: auto;
    margin-bottom: 10px; }
  .footer .lock {
    margin-top: 10px;
    width: 25px; }
  .footer .securitybadge {
    margin-top: 9px; }
  .footer .briefcase {
    margin-top: 13px; }

.header-logo {
  margin: 50px auto 40px auto; }

.sub-header {
  height: 50px;
  /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(right top, ellipse farthest-corner, #5f81c4 0%, #092a6c 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(right top, ellipse farthest-corner, #5f81c4 0%, #092a6c 100%);
  /* Opera */
  background-image: -o-radial-gradient(right top, ellipse farthest-corner, #5f81c4 0%, #092a6c 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, right top, 0, right top, 896, color-stop(0, #5f81c4), color-stop(1, #092a6c));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(right top, ellipse farthest-corner, #5f81c4 0%, #092a6c 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(ellipse farthest-corner at right top, #5f81c4 0%, #092a6c 100%); }
  .sub-header .header-logo {
    max-height: 40px;
    margin: 5px auto auto 20px; }

.step-icon {
  max-width: 80px;
  border: 2px solid white;
  border-radius: 10px;
  margin-left: 70px;
  margin-right: 20px; }

.step-1,
.step-2,
.step-3 {
  min-height: 100px;
  color: white; }
  .step-1 h2,
  .step-2 h2,
  .step-3 h2 {
    color: white;
    margin-bottom: 8px;
    padding-top: 3px; }

.form-signin {
  margin-top: 30px;
  margin-bottom: 50px;
  border-bottom: 5px;
  border-color: #eeeeee; }
  .form-signin button {
    width: 49%; }
    margin-top: 20px; }
    
.form-control {margin-top:10px;}

.charity {
  height: 130px;
  padding-top: 20px;
  padding-right: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #0b9c91;
  font-weight: bold;
  text-align: right;
  border: 2px solid #50bbb3;
  background-color: white; }
  .charity img {
    margin-top: -20px;
    height: 128px;
    float: left;
    padding: 5px;
    border-right: 2px solid #50bbb3; }
  .charity:hover {
    color: white;
    cursor: pointer;
    background-color: #50bbb3; }

.search {
  height: 130px;
  padding-top: 20px;
  padding-right: 10px;
  margin-bottom: 10px;
  text-align: right;
  border: 2px solid #50bbb3;
  background-color: white; }
  .search h4 {
    font-size: 18px;
    color: #0b9c91;
    color: #444444;
    font-weight: bold; }

.bank {
  min-height: 90px;
  padding: 15px;
  font-size: 18px;
  color: #0b9c91;
  font-weight: bold;
  border: 2px solid #50bbb3;
  background-color: white;
  margin-bottom: 10px; }
  .bank:hover {
    color: white;
    cursor: pointer;
    background-color: #50bbb3; }

.typeahead {
  padding: 3px; }

.featured,
.search,
.browse {
  margin-bottom: 60px; }

.search.confirm-charity {
  height: auto;
  text-align: left;
  padding: 10px; }

.input-text {
  margin-bottom: 15px; }
