/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import application.scss.css
 @import plaid.scss
 */

$primary-color: #1c4ba9;
$primary-color-light: #5f81c4;
$secondary-color: #0b9c91;
$secondary-color-light: #50bbb3;
$tertiary-color: #3e20af;

$gray:#eee;
$gray-dark:#444;

$purple: #553876;

body {
	background-color: $primary-color-light;
	background-color: #eee;
}

.bg-gradient {
	// border-left:3px solid $secondary-color;
	// border-right:3px solid $secondary-color;

	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(right bottom, ellipse farthest-corner, #5F81C4 0%, #092A6C 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(right bottom, ellipse farthest-corner, #5F81C4 0%, #092A6C 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(right bottom, ellipse farthest-corner, #5F81C4 0%, #092A6C 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 896, color-stop(0, #5F81C4), color-stop(1, #092A6C));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(right bottom, ellipse farthest-corner, #5F81C4 0%, #092A6C 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse farthest-corner at right bottom, #5F81C4 0%, #092A6C 100%);
}

h1 {
	color:$tertiary-color;
}

h2 {
	margin-top:30px;
	margin-bottom:20px;
	font-family: Rockwell;
	color:#555;
	color:$secondary-color;
}

.btn-primary {
	border:none;
	background-color:$secondary-color;
	background-image:none;
	&:hover{
		background-color:$primary-color;
		background-color:white;
		color:$secondary-color;
	}
}

a, .link {
	color:$secondary-color-light;
	&:hover {
		cursor:pointer;
		color:white;
	}
}

.btn-link {
	color:$secondary-color-light;
	&:hover {
		background-color: white;
		color:$secondary-color;
		text-decoration: none;
	}
}

.header .btn-link {
	margin-top:10px;
	color:white;
}

.header {
	background-color:$primary-color;	
}

.footer {
	margin-top:10px;
	// height:50px;
	background-color:white;
	img {
		margin:auto;
		margin-bottom:10px;
	}
	.lock {
		margin-top: 10px;
		width: 25px;
	}
	.securitybadge {
		margin-top:9px;
	}
	.briefcase {
		margin-top:13px;
	}
}

.header-logo {
	margin:50px auto 40px auto;
}

.sub-header {
	height:50px;	
	.header-logo {
		max-height:40px;
		margin:5px auto auto 20px;
	}
	// margin-bottom:20px;
	/* IE10 Consumer Preview */ 
	background-image: -ms-radial-gradient(right top, ellipse farthest-corner, #5F81C4 0%, #092A6C 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(right top, ellipse farthest-corner, #5F81C4 0%, #092A6C 100%);

	/* Opera */ 
	background-image: -o-radial-gradient(right top, ellipse farthest-corner, #5F81C4 0%, #092A6C 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, right top, 0, right top, 896, color-stop(0, #5F81C4), color-stop(1, #092A6C));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(right top, ellipse farthest-corner, #5F81C4 0%, #092A6C 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: radial-gradient(ellipse farthest-corner at right top, #5F81C4 0%, #092A6C 100%);	
}

.step-icon {
	max-width:80px;
	border: 2px solid white;
	// border: 2px solid $secondary-color;
	border-radius: 10px;
	margin-left:70px;
	margin-right:20px;
}

.divider {
	// height:1px;
	// border-bottom: 1px solid $secondary-color;
}

.step-1,
.step-2,
.step-3{
	// border-bottom: 1px solid $primary-color-light;
	min-height: 100px;
	color:white;
	h2 {
		color:white;
		margin-bottom:8px;
		padding-top:3px;
	}
}

.form-signin {
	margin-top:30px;
	button {
		width:49%;
	}
	margin-bottom:50px;
	border-bottom:5px;
	border-color: $gray;
}

.charity {
	height:130px;
	padding-top:20px;
	padding-right:10px;
	margin-bottom:10px;
	font-size:18px;
	color: $secondary-color;
	color: $gray-dark;
	font-weight:bold;
	text-align: right;
	border: 2px solid $secondary-color-light;
	background-color: white;
	img {		
		margin-top:-20px;
		height: 128px;
		float:left;
		padding:5px;
		border-right: 2px solid $secondary-color-light;
	}
	&:hover {
		color:white;
		cursor:pointer;
		background-color: $secondary-color-light;
	}
}

.search {
	height:130px;
	padding-top:20px;
	padding-right:10px;
	margin-bottom:10px;
	.search-input-text {
		// width:auto;
	}
	h4	{
			font-size:18px;
				color: $secondary-color;
				color: $gray-dark;
				font-weight:bold;			
	}
	text-align: right;
	border: 2px solid $secondary-color-light;
	background-color: white;
	
}

.bank {
	min-height:90px;
	padding:15px;
	font-size:18px;
	color: $secondary-color;
	color: $gray-dark;
	font-weight:bold;
	border: 2px solid $secondary-color-light;
	background-color: white;
	margin-bottom:10px;
	&:hover {
		color:white;
		cursor:pointer;
		background-color: $secondary-color-light;
	}
}

.typeahead {
	padding:3px;
}

.featured,
.search,
.browse {
	margin-bottom: 60px;
}

.search.confirm-charity {
	height:auto;
	text-align: left;
	padding:10px;	
}

.input-text {
	margin-bottom:15px;
}

.input-logo {
	margin-bottom:20px;
}

.tile {
	margin-bottom:30px;
	border: 5px solid #553876;
	img {
		width:100%;
	}
}

.tile-body {
	padding:5px;
	background-color: $purple;
}

.tile-section {
	color:white;
	margin: 10px 0;
}

.transaction-list {
	margin-bottom:0;
	background-color:$purple;
}

.transaction {
	border: 3px solid #553876;
	border-radius:5px;
	padding:5px;
}


.currency-amount,
.change-amount {
	float:right;
}

.total-section {

	height:250px;
	overflow: hidden;
	text-align: center;
		.change-amount {
			float:none;
			display:block;
			margin:auto;
			color:white;
			font-weight: normal;
			font-size:35px;
		}

	.transaction-name {
			// font-size:18px;			
	}
}

.transaction-change {
	color:$gray;
	color:white;
}

.charity-name {
	font-size: 16px;
}

.tile-section .charity-logo {
	max-height:128px;
	max-width:100%;
	width:auto;
	margin:auto;
	margin-bottom:5px;
}

.change-amount {
	font-weight:bold;
	color:$secondary-color;
	color:$primary-color-light + #222;
}

.list-group {
	max-height:250px;
	overflow: auto;
}

.tile-section .act_icon {
	max-height: 20px;
	width:auto;
	margin:0 5px;
	float:right;
}

span.account {
	padding-left:30px;
	font-size:16px;
	height:25px;
}

.accountLink {
	// padding-left:30px;
}