<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <title>Charity Change</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless @hide_header %>
	<!-- header -->
	<div class="container-fluid">
		<div class="row">
			<div class="header sub-header">
				<img src="images/whitecharity.png" alt="" class="header-logo">
				<button class="btn-link pull-right">Log Out</button>
			</div>
		</div>
	</div>
<% end %>

<div id='body_div'>
	<%= yield %>
</div>
 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
